/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 RESET
1.0 KEYFRAME
2.0 HEADER
3.0 BODY
    3.1 CONNEXION / INSCRIPTION
    3.2 PROFIL
4.0 FOOTER
5.0 MEDIAQUERIES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
0.0 RESET:
--------------------------------------------------------------*/
*{
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    color: white;
    
}
body{
    background: transparent;
}
h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 4em;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
  }
h2{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    /* font-family: MV Boli; */
    font-weight: 800;
    font-size: 3em;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}
h3{
    padding-left: 30px;
    font-family: MV Boli;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
    font-weight: 700;
    font-size: 1.7em;
    letter-spacing: -2px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.322);
}

.succses{
    color: green;
}
.logo_main{
    text-align: center;
}
/*--------------------------------------------------------------
1.0 KEYFRAME:
--------------------------------------------------------------*/
html {
    background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
    background-size: 300% 300%;
    -webkit-animation: Background 25s ease infinite;
    -moz-animation: Background 25s ease infinite;
    animation: Background 25s ease infinite;
  }
  
  @-webkit-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

/*--------------------------------------------------------------
2.0 HEADER:
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.0 BODY:
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.0 BODY - INPUT:
--------------------------------------------------------------*/
::placeholder{
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
    font-size: 20px;
}
input{
    background: transparent;
    font-size: 100%;
    border: 0 none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.log_ok{
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.459);
    background: transparent;
    background-image: url(ico_log.svg);
    background-size: 32px 32px;
    background-position: 5px 17px;
    background-repeat: no-repeat;
    padding: 18px 0px 0px 50px;
    color: rgb(0, 0, 0);
    opacity: 0.8;
}
.pass_ok{
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.459);
    background: transparent;
    background-image: url(ico_pass1.svg);
    background-size: 32px 32px;
    background-position: 5px 17px;
    background-repeat: no-repeat;
    padding: 18px 0px 0px 50px;
    color: rgb(0, 0, 0);
    opacity: 0.8;
}
.log_inscription{
    width: 49%;
    height: 60px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.459);
    background: transparent;
    color: rgb(0, 0, 0);
    background-image: url(ico_log.svg);
    background-size: 32px 32px;
    background-position: 5px 17px;
    background-repeat: no-repeat;
    padding: 18px 0px 0px 50px;
    opacity: 0.8;
}
.mail_inscription{
    width: 49%;
    height: 60px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.459);
    background: transparent;
    color: rgb(0, 0, 0);
    background-image: url(ico_mail.svg);
    background-size: 32px 32px;
    background-position: 5px 20px;
    background-repeat: no-repeat;
    padding: 18px 0px 0px 50px;
    opacity: 0.8;
}
.pass1_inscription{
    width: 49%;
    height: 60px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.459);
    background: transparent;
    color: rgb(0, 0, 0);
    background-image: url(ico_pass1.svg);
    background-size: 32px 32px;
    background-position: 5px 17px;
    background-repeat: no-repeat;
    padding: 18px 0px 0px 50px;
    opacity: 0.8;
}
.pass2_inscription{
    width: 49%;
    height: 60px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.459);
    background: transparent;
    color: rgb(0, 0, 0);
    background-image: url(ico_pass2.svg);
    background-size: 32px 32px;
    background-position: 5px 17px;
    background-repeat: no-repeat;
    padding: 18px 0px 0px 50px;
    opacity: 0.8;
}
.submit_log{
    cursor: pointer;
    height: 60px;
    width: 100%;
    background-color: #acd6ff00;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.7em;
    letter-spacing: -2px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    border: 3px solid rgba(0, 0, 0, 0.459);
    border-radius: 5px;
    transition: 0.5s;
}
.submit_log:hover{
    text-shadow: none;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0, 0.459);
}

.div{
    margin-top: 20px;
    text-align: center;
}
.card-header{
    background-color: #0058cb62;
}
.col-md-6{
    width: 500px;
}
.card{
    -moz-box-shadow: 1px 1px 5px 0px #656565;
    -webkit-box-shadow: 1px 1px 5px 0px #656565;
    -o-box-shadow: 1px 1px 5px 0px #656565;
    box-shadow: 1px 1px 5px 0px #656565;
    background-color: #61b0ff;
}
.card_profil{
        margin: auto;
        width: 700px;
        height: 800px;
}
.cont_erreur{
    width: 100%;
    text-align: center;
    color: #990000;
    font-weight: bold;
    margin-top: 10px;
}
.erreur{
text-align: center;
}

.avatar{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 2px;
}
.copy{
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border: 5px solid rgba(0, 0, 0, 0.377);
    color: rgba(0, 0, 0, 0.377);
}
.con{
    border: 5px solid rgba(0, 0, 0, 0.377);
    border: 5px solid rgba(0, 0, 0);
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
}
/*--------------------------------------------------------------
4.0 FOOTER:
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.0 MEDIAQUERIES:
--------------------------------------------------------------*/
/* Desktop specific */
@media (max-width: 979px)
{

}
/* Large desktop */
@media (min-width: 1200px) {

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)
{

}
/* Landscape phone to portrait tablet */
@media (max-width: 767px)
{

}
/* Landscape phones and down */
@media (max-width: 480px)
{

}
