/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 RESET
1.0 KEYFRAME
2.0 HEADER
3.0 BODY
    3.1 board left
    3.2 board right
4.0 FOOTER
5.0 MEDIAQUERIES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
0.0 RESET:
--------------------------------------------------------------*/
*{
    box-sizing: border-box;
}
body, html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background-color: rgb(138, 138, 138);
}
body{
    background-color: rgb(138, 138, 138);
}
.log_ok{
    width: 100%;
}
.log_50{
    width: 49%;
}
.card{
    -moz-box-shadow: 1px 1px 5px 0px #656565;
    -webkit-box-shadow: 1px 1px 5px 0px #656565;
    -o-box-shadow: 1px 1px 5px 0px #656565;
    box-shadow: 1px 1px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}
.erreur{
    color: red;
}
.succses{
    color: green;
}
/*--------------------------------------------------------------
1.0 KEYFRAME:
--------------------------------------------------------------*/

/*--------------------------------------------------------------
2.0 HEADER:
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.0 BODY:
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.0 FOOTER:
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.0 MEDIAQUERIES:
--------------------------------------------------------------*/
/* Desktop specific */
@media (max-width: 979px)
{

}
/* Large desktop */
@media (min-width: 1200px) {

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)
{

}
/* Landscape phone to portrait tablet */
@media (max-width: 767px)
{

}
/* Landscape phones and down */
@media (max-width: 480px)
{

}